
.contacts-bar{
    left: 50%;
    right: 50%;
    height: 60px;
    width: 100vw;
    position: relative;
    padding: 20px 20px;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: dodgerblue;
}

.contacts-bar ul{
    gap: 60px;
    display: flex;
    list-style: none;
    font-size: small;
}

.header-menu {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-right: 30px;
    justify-content: space-between;
}

.header-menu .logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-menu img{
    width: 150px;
    height: 150px;
}

.header-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.header-menu ul li a {
    text-decoration: none;
    font-weight: 500;
}

.main-content{
    border: 1px solid black;
    height: 800px;
    display: flex;
}

.footer-menu {
    left: 50%;
    right: 50%;
    width: 100vw;
    height: 150px;
    position: relative;
    padding: 20px 325px;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: dodgerblue;
}

.footer-menu img{
    width: 100px;
    height: 100px;
}